<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apropo de nous</title>
    <style>
        .contenue{
            /* overflow: hidden; */
            margin-bottom:5%;
        }
        .border-design{
            padding-top: 5%;
            position:relative;
            top:50px;
            margin:auto;
            width: 90%;
            /* background-color: azure; */
border-radius:20px;
            /* background-color: blue; */
box-shadow: 0px 0px 5px 5px rgb(211, 228, 228);
overflow:hidden;

        }

        body{
          
            /* background-color: antiquewhite; */
        }
        p img{
        float:right;
         /* padding-bottom:10%; */
        width:50%;
        height:auto;
        /* border-radius: 15px; */
        margin-left: 5%;
        }
        .border-design p{
            /* padding-top:5%; */
            width:50%;
            padding-bottom:2%;
            margin:auto;
            font-size: 22px;
        }
    </style>
 
</head>
<body>
    <!-- conteneur principal -->
    <div class="aproposContainer">
        <!-- header principal -->
        <%-include('partiel/header')%>

        <div class="contenue">
            <!-- section gris -->
            <div class="section section-gris">
                <hr class="separateur"></hr>
                <p >Par le savoir creer votre petit monde</p>
            </div>
            <!-- section blanc -->
            <div class="section-blanc">
                <div class="border-design">
                
                <p>
                    <img  src="Photo Identifiee/Electricite.png" alt="">
                    Académie des Arts et de Métiers (ACAM) est une Institution qui s’engage dans la formation professionnelle des jeunes des deux sexes. ACAM a pris naissance le 14 Juillet 2014 à Delmas 33. La vision première consistait à doter des jeunes filles et garçons une formation professionnelle de courte durée qui leur permettaient de répondre rapidement à leur besoin financier et d’être utile à leur communauté. Ces jeunes qui parviennent à vivre de leur profession dans un temps très court pourraient échapper de la délinquance juvénile et en même temps de prendre leur vie en main afin qu’ils (elles) deviennent  un bon (ne) citoyen(ne). </p>

                    <p>
                    <img src="Photo Identifiee/Administration.png" alt="">
                    Aujourd’hui nous sommes réjouis de voir que cette vision atteint l’objectif visé. Ils (elles) sont nombreux (ses) les jeunes qui témoignent leur satisfaction ; ceux et celles qui sont devenus(es) indépendants(es) financièrement grâce à un métier qu’ils (elles) ont appris à ACAM. Dans toutes nos filières que constitue notre Curriculum nous avons des jeunes qui excelle et qui s’impose comme un(ne) vrai professionnel (le). Beaucoup de nos finissants sont recrutés comme professeur dans d’autre établissement de la place et reviennent aussi à ACAM pour enseigner aux nouveaux (elles) venus (es) ce qu’ils (elles) ont reçu de leur professeur. 
                    </p>

                    <p>
                        <img src="Photo Identifiee/Cosmetologie3.png" alt="">
                        Ce travail bien fait est l’œuvre de toute une équipe déterminée et dévouée dans l’encadrement de tous ceux et toutes celles qui ont fait choix de l’ACAM. La flamme de cette vision continue à s’étendre grâce à la bonne volonté  de la Direction Générale, de tous les membres administratifs et le corps professoral de l’ACAM. Notre satisfaction n’est autre que ces jeunes qui deviennent artisans de paix et de leur propre  bonheur. Nous nous engageons dans cette voie pour créer de nouveau modèle citoyen utile à lui-même et à la communauté dans laquelle ils (elles) vivent.

                        Notre mission est de leur inculquer les bonnes manières, la voie qu’ils (elles) doivent suivre car ils (elles) sont l’espoir de l’Haïti de demain.  
                        </p>

                        <p>
                            <img src="Photo Identifiee/Bar1.png" alt="">
                            Dans le souci de former des professionnels (les) qui sont à même capable de répondre à toutes les nouveautés qu’apporte les nouvelles technologies, la Direction académique de l’ACAM se fait toujours le devoir de réviser notre curriculum à fin de mettre ajout nos différentes modules. Toujours dans le même but, nous avons un programme de formation continue pour nos anciens(es) étudiants (es). Tout ceci est conçu pour les permettre de parfaire leur savoir-faire et leur savoir-Etre.
                        </p>

                        <p>
                            <img src="Photo Identifiee/Gradue4.png" alt="">
                            La Direction académique travaille en parfaite collaboration avec le Ministère de l’Education Nationale et de la Formation Professionnelle afin que le programme du Ministère soit respecté et que les finissants puissent subir sans trop de peine l’examen officiel du dit Ministère.
                            </p>

                            <p>
                                <img src="Photo Identifiee/Plomberie.png" alt="">
                                Nous nous engageons à nous procurer des matériels didactiques qu’exigent nos différentes filières afin que les apprenants puissent mettre en valeur ce qu’ils ont appris en théorie. Notre Vision et notre mission se trouvent confronter très souvent à des difficultés de tout genre cependant notre détermination est beaucoup plus grande. Nous sommes convaincus que Dieu de l’Univers nous accompagnera et nous protégera.
                            </p>
                            <h3 style="text-align:center;">Avec Dieu Nous ferons des exploits et il écrasera nos ennemis.</h3>
                        </div>
            </div>

            <!-- section gris -->
            <!-- <div class="section section-gris"></div> -->
        </div>

        <!-- le pied de la page -->
        <%-include('partiel/footer')%>
        </div>   
        <script src="index.js"></script>
</body>
</html>