<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temoignage</title>
    
</head>
<body>
    <!-- conteneur principal -->
    <div class="temoignageConteneur">
        <!-- header principal -->
        <%-include('partiel/header')%>
        <!-- le pied de la page -->
        <%-include('partiel/footer')%>

    </div>
</body>
</html>