<div class="footer">
    <!-- la liste de media sociaux -->
    <ul class="firstList">
        <h1>Suivez-nous sur:</h1>
        <li><a href=""><img src="icon/square-instagram.svg" alt="Instagram icone">AcamHaiti_</a></li>
        <li><a href=""><img src="icon/square-facebook.svg" alt="facebook icone">Academie des arts et de metiers</a></li>
        <li><a href=""><img src="icon/square-twitter.svg" alt="Twitter icone">AcamHaiti</a></li>
        <li><a href=""><img src="icon/square-youtube.svg" alt="Youtube icone">AcamHaiti</a></li>
        <li><a href=""><img src="icon/square-whatsapp.svg" alt="Whatsapp icone">Whatsapp</a></li>
    </ul>
    <!-- la liste des pages -->
    <ul class="pages">
        <li><a href="/options">Option</a></li>
        <li><a href="/inscription">Inscription</a></li>
        <li><a href="/temoignage">Temoignage</a></li>
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="/gallery">Gallery</a></li> -->
        <li><a href="/apropos">Apropos</a></li>
        <!-- <li><a href="">Blog</a></li> -->
    </ul>
    <div class="abonnement">
        <h1>Abonnez pour recevoir nos nouvelles</h1>
<form action="" method="post"></form>
<input type="text" name="abonner" placeholder="Entrez votre E-mail">
<button type="submit">Abonner</button>
</div>

<!-- <div style="width: 360px; margin:auto;" class="socialMedia">
<a href=""><img src="icon/square-whatsapp.svg" alt="Whatsapp icone"></a>
<a href=""><img src="icon/square-facebook.svg" alt="facebook icone"></a>
<a href=""><img src="icon/square-instagram.svg" alt="Instagram icone"></a>
<a href=""><img src="icon/square-twitter.svg" alt="Twitter icone"></a>
<a href=""><img src="icon/square-youtube.svg" alt="Youtube icone"></a>
</div> -->
</div>